# compiled ruby script archive (.exa) / binary (.exe)
*.ex[ae]

# compiled resource output
res.o

# compiled static library
/compile/*.a

# packages downloaded from github repos
/vendor/ruby
/vendor/zlib
/vendor/exerb-mingw

# win32/api compiled library and other junks 
/win32

# compilation temp outputs
/tmp

manifest.txt
/tswLauncher/TSW1.2r1
