#include "resource.h"
#include "winresrc.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
#ifdef RUNTIME_EXE
 FILEVERSION    3,0,0,0
 PRODUCTVERSION 3,0,0,0
#else
 FILEVERSION    EXERB_RES_EXERB_VERSION1
 PRODUCTVERSION EXERB_RES_EXERB_VERSION1
#endif
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         0x40004L
 FILETYPE       0x1L
 FILESUBTYPE    0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName",      "Z.Sun"
            VALUE "LegalCopyright",   "Copyright(C) Z.Sun, 2020-2024 All rights reserved."
            VALUE "ProductName",      "tswKai3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 0x04b0
    END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

#ifdef RUNTIME_EXE
IDI_RUBY ICON DISCARDABLE "..\\ruby.ico"
#else
IDI_RUBY ICON DISCARDABLE "..\\1.ico"
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDD_EXCEPTION DIALOG DISCARDABLE 0, 0, 267, 215
 STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
 CAPTION "Exception - %s"
 FONT DLG_FONT_SIZE, "Tahoma"
BEGIN
    DEFPUSHBUTTON   "&Close",ID_CLOSE,212,5,50,14
    ICON            IDI_ERROR,IDC_STATIC,5,5,20,20
    LTEXT           "The exception was raised in the program.\nDetails are as follows.",IDC_STATIC_TITLE,33,8,171,20
    LTEXT           "&Type",IDC_STATIC_TYPE,5,42,95,8
    EDITTEXT        IDC_EDIT_TYPE,5,52,257,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "&Message",IDC_STATIC_MESSAGE,5,70,95,8
    EDITTEXT        IDC_EDIT_MESSAGE,5,80,257,68,ES_MULTILINE | ES_READONLY | ES_WANTRETURN | WS_VSCROLL
    LTEXT           "&BackTrace",IDC_STATIC_BACKTRACE,5,154,77,8
    EDITTEXT        IDC_EDIT_BACKTRACE,5,164,257,45,ES_MULTILINE | ES_READONLY | WS_VSCROLL | WS_HSCROLL
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

IDD_EXCEPTION DIALOG DISCARDABLE 0, 0, 267, 215
 STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
 CAPTION "错误 - %s"
 FONT DLG_FONT_SIZE, "MS Shell Dlg 2"
BEGIN
    DEFPUSHBUTTON   "关闭(&C)",ID_CLOSE,212,5,50,14
    ICON            IDI_ERROR,IDC_STATIC,5,5,20,20
    LTEXT           "程序运行时出错。详情如下：",IDC_STATIC_TITLE,33,8,171,20
    LTEXT           "类别(&T)",IDC_STATIC_TYPE,5,42,95,8
    EDITTEXT        IDC_EDIT_TYPE,5,52,257,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "消息(&M)",IDC_STATIC_MESSAGE,5,70,95,8
    EDITTEXT        IDC_EDIT_MESSAGE,5,80,257,68,ES_MULTILINE | ES_READONLY | ES_WANTRETURN | WS_VSCROLL
    LTEXT           "追溯(&B)",IDC_STATIC_BACKTRACE,5,154,77,8
    EDITTEXT        IDC_EDIT_BACKTRACE,5,164,257,45,ES_MULTILINE | ES_READONLY | WS_VSCROLL | WS_HSCROLL
END

#ifndef RUNTIME_EXE
LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

ID_EXERB RT_EXERB DISCARDABLE "tswKai3.exa"
#endif

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

IDM_MANIFEST MANIFEST DISCARDABLE "..\\tswKai3.exe.MANIFEST"
