#include "tswLauncher.h"
#include "winresrc.h"
#pragma code_page(65001)

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
 FILEVERSION	APP_VERSION
 PRODUCTVERSION	APP_VERSION
 FILEFLAGSMASK	0x3fL
 FILEFLAGS	0x0L
 FILEOS	0x40004L
 FILETYPE	0x1L
 FILESUBTYPE	0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004b0"
		BEGIN
			VALUE "CompanyName",	"Z.Sun"
			VALUE "LegalCopyright",	"Copyright(C) Z.Sun, 2020-2025 All rights reserved."
			VALUE "ProductName",	APP_TITLE
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0000, 0x04b0
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

IDI_APP ICON DISCARDABLE "2.ico"
IDI_OPEN ICON DISCARDABLE "101.ico"
IDI_MGRT ICON DISCARDABLE "102.ico"
IDI_INIT ICON DISCARDABLE "103.ico"
IDI_CONF ICON DISCARDABLE "104.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDD_APP DIALOG DISCARDABLE 0, 0, 162, 44
 STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
 CAPTION APP_TITLE
 FONT DLG_FONT_SIZE, "Tahoma"
BEGIN
	COMBOBOX	IDC_TYPE, 10, 7, 92, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"&Launch", IDC_OPEN, 110, 5, 45, 15
	PUSHBUTTON	"&Migrate", IDC_MGRT, 10, 22, 45, 15, WS_DISABLED
	PUSHBUTTON	"&Initialize", IDC_INIT, 57, 22, 45, 15
	PUSHBUTTON	"&Config", IDC_CONF, 110, 22, 45, 15
END

IDD_CONFIG DIALOG DISCARDABLE 0, 0, 233, 185
 STYLE DS_SETFONT | DS_CENTER | DS_SETFOREGROUND | WS_POPUP | WS_CAPTION | WS_SYSMENU
 EXSTYLE WS_EX_TOOLWINDOW
 CAPTION TARGET_TITLE " Game Executable Patch Configuration"
 FONT DLG_FONT_SIZE, "Tahoma"
BEGIN
	DEFPUSHBUTTON	"OK", IDC_CONF, 194, 7, 32, 12
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_APP DIALOG DISCARDABLE 0, 0, 162, 44
 STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
 CAPTION APP_TITLE_CN
 FONT DLG_FONT_SIZE, "MS Shell Dlg 2"
BEGIN
	COMBOBOX	IDC_TYPE, 10, 7, 92, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"启动(&L)", IDC_OPEN, 110, 5, 45, 15
	PUSHBUTTON	"迁移(&M)", IDC_MGRT, 10, 22, 45, 15, WS_DISABLED
	PUSHBUTTON	"初始化(&I)", IDC_INIT, 57, 22, 45, 15
	PUSHBUTTON	"配置(&C)", IDC_CONF, 110, 22, 45, 15
END

IDD_CONFIG DIALOG DISCARDABLE 0, 0, 233, 185
 STYLE DS_SETFONT | DS_CENTER | DS_SETFOREGROUND | WS_POPUP | WS_CAPTION | WS_SYSMENU
 EXSTYLE WS_EX_TOOLWINDOW
 CAPTION TARGET_TITLE_CN "程序修正配置"
 FONT DLG_FONT_SIZE, "MS Shell Dlg 2"
BEGIN
	DEFPUSHBUTTON	"确定(&O)", IDC_CONF, 194, 7, 32, 12
END

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_TITLE	APP_TITLE " " APP_VERSION_STR
	IDS_ENTRY_TYPE_EN	"English (Original)"
	IDS_ENTRY_TYPE_EN_REV	"English (Retranslated)"
	IDS_ENTRY_TYPE_CN	"Chinese"
	IDS_ENTRY_TYPE_CN_REV	"Chinese (Retranslated)"
	IDS_TIP_TYPE	"Choose which " TARGET_TITLE " you would like to run"
	IDS_TIP_OPEN	"Run the " TARGET_TITLE " specified in the dropdown list"
	IDS_TIP_INIT	"Initialize the " TARGET_TITLE " paths\n\nThe installation and data-save paths will be cleared, and they will be automatically populated the next time you run any " TARGET_TITLE " executable file"
	IDS_TIP_MGRT	"Another data-save path is found to be located under a different folder from the current game path\n\nClick this button to migrate the settings and game data therein to the current game installation path, and make it the new data-save path in the future"
	IDS_TIP_CONF	"Configure patches to the " TARGET_TITLE " specified in the dropdown list"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
	IDS_TITLE	APP_TITLE_CN " " APP_VERSION_STR
	IDS_ENTRY_TYPE_EN	"英语 (原版)"
	IDS_ENTRY_TYPE_EN_REV	"英语 (重译版)"
	IDS_ENTRY_TYPE_CN	"汉化"
	IDS_ENTRY_TYPE_CN_REV	"汉化 (日文精译版)"
	IDS_TIP_TYPE	"选择想要运行的" TARGET_TITLE_CN "版本"
	IDS_TIP_OPEN	"运行由左侧列表指定的" TARGET_TITLE_CN "游戏"
	IDS_TIP_INIT	"初始化" TARGET_TITLE_CN "程序的相关路径\n\n将会清除" TARGET_TITLE_CN "程序的安装路径和数据存储路径，下次运行任意一个" TARGET_TITLE_CN "游戏的程序文件后就会自动重设"
	IDS_TIP_MGRT	"现有设置中的数据存储路径并非处在当前游戏安装路径下\n\n单击此按钮以将其中的选项和存档迁移至当前游戏安装文件夹下，并将之重设为新的数据存储路径"
	IDS_TIP_CONF	"对左侧列表指定的" TARGET_TITLE_CN "游戏进行修正配置"
END

#include "msg.rc" // will be generated by MC processing of 'msg.mc'

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

IDM_MANIFEST MANIFEST DISCARDABLE "2.manifest"
